@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';
main {
  display: flex;
}
.dashboard {
  width: 100%;
  padding-left: 5%;
  margin-bottom: 8%;
  h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 5% 0 3% 0;
    span {
      color: $textAlternativeColor;
      font-size: 48px;
    }
  }
  .subtitle {
    margin: 0 0 5% 0;
  }
  .userInfos {
    display: flex;
    justify-content: flex-start;
    max-height: 612px;
  }
  .graphContainer {
    display: flex;
    min-width: 590px;
    max-width: 835px;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .mainchart {
    gap: 2rem;
    max-height: 320px;
  }
  .otherchart {
    display: flex;
    justify-content: space-between;
    max-height: 263px;
    margin-top: 2%;
  }
  .nutritionData {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
    padding-left: 2%;
  }
}

@include largeBreakPoint {
  .userInfos {
    height: 510px;
  }
  .graphContainer {
    width: 695px;
  }
  .otherchart {
    gap: 1rem;
  }
}
@include mediumBreakPoint {
  .dashboard {
    padding-left: 3%;
  }

  .userInfos {
    height: 466px;
  }
  .graphContainer {
    width: 662px;
  }
}
