@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 258px;
  height: 124px;
  background-color: $secondaryLightColor;
  border-radius: 5px;
  gap: 24px;
  margin-bottom: 39px;
  &:hover {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    transition-duration: 200ms;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
  }
  .value {
    font-size: 20px;
    font-weight: 700;
  }
  .type {
    color: $textLightColor;
    font-weight: 500;
    font-size: 14px;
  }
}
