@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

.radarchart {
  width: 258px;
  height: 263px;

  background: #000;
  border-radius: 10px;
}
@include largeBreakPoint {
  .radarchart {
    width: 224px;
    height: 220px;
  }
}
@include mediumBreakPoint {
  .radarchart {
    width: 210px;
    height: 210px;
  }
}
@media (min-width: 1300px) {
  .radarchart {
    margin: 0 20px;
  }
}

.recharts-layer .recharts-polar-angle-axis {
  position: relative;
  left: -1px;
}
