@import '../../sassStyles/mixins';
@import '../../sassStyles/variables';

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 91px;
  color: $textLight2Color;
  background-color: $secondaryDark2Color;
  gap: 149px;
  img {
    padding-left: 32px;
  }
  nav {
    flex: 1;
    margin-right: 90px;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  li {
    font-size: 24px;
    font-weight: 500;
    &:hover {
      transform: scale(1.1);
      transition-duration: 50ms;
      border-bottom: 2px solid $primaryColor;
    }
  }
}
