// Screen sizes
$screen-small: 992px;
$screen-medium: 1200px;
$screen-large: 1320px;

// Colors
$textColor: #000000;
$textDarkColor: #282d30;
$textLightColor: #74798c;
$textLight2Color: #ffffff;
$textAlternativeColor: #ff0101;

$primaryColor: #ff0000;
$primaryLightColor: #ff0101;
$primaryDarkColor: #e60000;

$secondaryLightColor: #fbfbfb;
$secondaryColor: #c4c4c4;
$secondaryDark1Color: #282d30;
$secondaryDark2Color: #020203;

$headerColor: #020203;
$blackColor: #000000;
$whiteColor: #ffffff;

$iconFireColor: #ff0000;
$iconMeatColor: #4ab8ff;
$iconAppleColor: #f9ce23;
$iconBurgerColor: #fd5181;
