// Screen sizes
$screen-mobile: 768px;

// Colors
$textColor: #000000;
$textLightColor: #FFFFFF;
$textAlternativeColor: #FF0101;

$primaryColor: #FF0000;
$primaryLightColor: #FF0101;
$primaryDarkColor: #E60000;

$secondaryLightColor: #FBFBFB;
$secondaryColor: #C4C4C4;
$secondaryDark1Color: #282D30;
$secondaryDark2Color: #020203;

$headerColor: #020203;
$blackColor: #000000;

$iconFireColor: #FF0000;
$iconMeatColor:#4AB8FF ;
$iconAppleColor: #F9CE23;
$iconBurgerColor: #FD5181;